<!--The content below is only a placeholder and can be replaced.-->


<!-- <app-upload-file ></app-upload-file> -->
<app-fileupload3></app-fileupload3>

<!-- <div class="row">
    <div class="col-md-12">
      <app-fileupload-reuse
        projectId="100" 
        sectionId="107" 
        maxFiles="4"
        maxSize="2"
        fileExt="JPG, GIF, PNG"
        (uploadStatus)="refreshImages($event)" >
      </app-fileupload-reuse>
    </div>
  </div>

  
<div class="well">
    <img *ngFor="let img of images"
         [src]="'http://localhost:33699' + img.thumbPath"
        class="img-thumbnail"
        alt="">
</div> -->
<!-- <app-upload></app-upload> -->

<!-- <angular-file-uploader
      [config]="afuConfig">
</angular-file-uploader> -->

<!-- <app-ng2-file-upload-ex></app-ng2-file-upload-ex> -->